* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Tính {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    width: 100%;
    background-color: burlywood;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: bisque;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #value {
    font-weight: bold;
  }
  
  #category {
    font-size: 18px;
    font-weight: normal;
    color: #666;
  }